//COLORS
$clr-black: #000000;
$clr-white: #ffffff;

//ANIMATION
$animation-cubic: cubic-bezier(0.25, 0.46, 0.45, 0.94);

// MEDIA QUERIES
$media-query-xsm: 320px;
$media-query-sm: 576px;
$media-query-md: 768px;
$media-query-lg: 1200px;
$media-query-xl: 1600px;
$media-query-2xl: 1920px;
$media-query-3xl: 2560px;