//COLORS
$clr-white: #fff;
$clr-black: #000;
$clr-font: #242424;

$palettes : (neutral: (50: #CCCCCC,
        100: #B8B8B8,
        200: #A3A3A3,
        300: #8F8F8F,
        400: #7A7A7A,
        500: #666666,
        600: #525252,
        700: #3D3D3D,
        800: #292929,
        900: #141414,

    ), primary: (50: #e7f1fd,
        100: #b4d2f8,
        200: #8fbdf5,
        300: #5c9ff0,
        400: #3d8ced,
        500: #0c6fe9,
        600: #0b65d4,
        700: #094fa5,
        800: #073d80,
        900: #052f62,
    ),
    secondary: (50: #F0F1F3,
        100: #CFD3D9,
        200: #B8BDC6,
        300: #989FAD,
        400: #848D9D,
        500: #657084,
        600: #5C6678,
        700: #48505E,
        800: #383E49,
        900: #2A2F37,
    ),
    red: (50: #fbe8ea,
        100: #f4b7bc,
        200: #ee959c,
        300: #e7646f,
        400: #e24653,
        500: #db1828,
        600: #c71624,
        700: #9b111c,
        800: #780d16,
        900: #5c0a11,
    ),
    yellow: (50: #fef6e7,
        100: #fbe4b6,
        200: #f9d792,
        300: #f7c460,
        400: #f5b941,
        500: #f3a712,
        600: #dd9810,
        700: #ad770d,
        800: #865c0a,
        900: #664608,
    ),
    green : (50: #ebfce8,
        100: #c1f5b6,
        200: #a3f093,
        300: #78e962,
        400: #5ee543,
        500: #36de14,
        600: #31ca12,
        700: #269e0e,
        800: #1e7a0b,
        900: #175d08,
    ),
    blue: (50: #e6f9fe,
        100: #b2ebfb,
        200: #8de2f9,
        300: #59d4f6,
        400: #39ccf5,
        500: #07bff2,
        600: #06aedc,
        700: #0588ac,
        800: #046985,
        900: #035066,
    ),
);

// SIZE
$mobile-nav-height: 4rem;
$mobile-header-height: $mobile-nav-height;
$panel-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

// BORDER RADIUS
$border-radius: .5rem;
$border-radius-1: 1rem;
$border-radius-2: 2rem;
$border-radius-50: 50%;

// FONTS
$font-display: 'BiggerDisplay', sans-serif;
$font-primary: 'Oswald', sans-serif;

//ANIMATION
$animation-cubic: cubic-bezier(0.25, 0.46, 0.45, 0.94);

// MEDIA QUERIES
$media-query-xsm: 320px;
$media-query-sm: 576px;
$media-query-md: 768px;
$media-query-lg: 1200px;
$media-query-xl: 1600px;
$media-query-2xl: 1920px;
$media-query-3xl: 2560px;

// FUNCTIONS
@function color($color, $tone) {
    @if map-has-key($palettes, $color) {
        $color: map-get($palettes, $color);

        @if map-has-key($color, $tone) {
            $tone: map-get($color, $tone);
            @return $tone;
        }

        @warn "unknown tone `#{$tone}` in color";
        @return null;
    }

    @warn "unknown color `#{$color}` in palette";
    @return null;
}