@import 'variables';

.auth-page {
    position: relative;
    height: 100svh;
    display: flex;
    flex-direction: row;
    background-color: $clr-white;
    overflow: hidden;

    .hero {
        position: relative;
        flex: 1;
        bottom: 0;
        left: 0;
        overflow: hidden;
        isolation: isolate;

        img {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            z-index: -1;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .5);
            z-index: -1;
        }
    }

    .auth-container {
        position: relative;
        padding: 3rem;
        width: clamp(35rem, 50%, 50rem);
        //box-shadow: .75rem .75rem $clr-black;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        border-left: 1px solid $clr-grey-500;

        .brand-title {
            position: relative;
            font-size: clamp(5rem, 5vw, 7rem);
            margin-bottom: 1rem;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: $clr-black;
            //text-shadow: .25rem .25rem $clr-blue-dark;
            font-family: $font-display;
            font-style: italic;
        }


        .tabs-wrapper {
            position: relative;

            .tabs-header {
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                .tabs-header-item {
                    position: relative;
                    flex-grow: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 1rem;
                    width: 50%;

                    &::after {
                        content: '';
                        height: 1px;
                        background-color: $clr-grey-400;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        transition: height 0.1s $animation-cubic;
                    }

                    &:hover {
                        h3 {
                            color: $clr-black;
                        }
                    }

                    h3 {
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        font-size: 1rem;
                        color: $clr-grey-400;
                        transition: color 0.2s $animation-cubic;
                        margin: 0 1rem;
                    }

                    &.active-tab {
                        &::after {
                            content: '';
                            width: 100%;
                            height: 4px;
                            background-color: $clr-black;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                        }

                        h3 {
                            color: $clr-grey-900;
                        }
                    }
                }
            }
        }

        .tabs-content {
            .tabs-content-item {
                display: none;

                .social-signup {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    position: relative;

                    h4 {
                        margin: 1rem 0;
                        font-size: 1.175rem;
                        font-weight: 400;
                        color: $clr-black;
                    }

                    button {
                        width: calc(100% - 2 * 1rem);
                    }
                }

                .bg-line {
                    width: 100%;
                    margin: 2rem 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;

                    h4 {
                        color: $clr-black;
                        //text-transform: uppercase;
                        text-align: center;
                        background-color: $clr-white;
                        padding: 0 1rem;
                        z-index: 100;
                        font-weight: 400;
                        font-size: 1.175rem;
                    }

                    &::after {
                        content: '';
                        width: 100%;
                        position: absolute;
                        height: 1px;
                        background-color: $clr-grey-700;
                    }
                }

                &.active-content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    color: $clr-black;

                    h1 {
                        margin: 2rem 0 1rem 0;
                    }

                    form {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        width: 100%;

                        .field-wrapper {
                            display: flex;
                            flex-direction: row;
                            column-gap: 0.5rem;

                            .input-wrapper {
                                width: 100%;
                            }
                        }

                        .forgot-pass {
                            font-size: .9rem;
                            font-weight: 400;
                            margin-bottom: 1rem;

                            a {
                                color: $clr-blue;
                                text-decoration: none;
                                font-style: italic;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }

                    .select-wrapper {
                        width: 100%;
                        margin: 0.7rem 0;
                        position: relative;

                        label {
                            position: absolute;
                            left: 0.5rem;
                            top: 50%;
                            transform: translateY(-50%);
                            font-size: 1.2rem;
                            color: $clr-grey-500;
                            pointer-events: none;
                            transition: 0.2s;
                            padding: 0 0.2rem;
                        }

                        .select-icon {
                            position: absolute;
                            right: 0.75rem;
                            top: 50%;
                            transform: translateY(-50%);
                            pointer-events: none;
                            width: 1rem;
                            height: 1rem;
                        }

                        .select-menu {
                            width: 100%;
                            padding: 0.75rem;
                            --webkit-appearance: none;
                            -moz-appearance: none;
                            appearance: none;
                            cursor: pointer;
                            font-size: 0.9rem;
                            transition: border 0.1s $animation-cubic;
                            outline: none;

                            &.light {
                                border: 2px solid $clr-grey-700;
                                color: $clr-grey-900;
                                background-color: $clr-grey-100;

                                &~label {
                                    background-color: $clr-grey-100;
                                }

                                &:focus,
                                &:invalid,
                                &:not(:placeholder-shown) {
                                    border: 2px solid $clr-grey-900;

                                    &~label {
                                        top: 0;
                                        color: $clr-grey-900;
                                    }
                                }
                            }

                            &.dark {
                                border: 2px solid $clr-grey-900;
                                color: $clr-grey-100;
                                background-color: $clr-grey-900;

                                &~label {
                                    background-color: $clr-grey-900;
                                }

                                &:focus,
                                &:invalid,
                                &:not(:placeholder-shown) {
                                    border: 2px solid $clr-grey-100;

                                    &~label {
                                        top: 0;
                                        color: $clr-grey-100;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $media-query-xl) {
    .auth-page {
        .auth-container {
            padding: 2rem;
        }
    }
}

@media only screen and (max-width: $media-query-lg) {
    .auth-page {
        min-height: 100svh;
        height: auto;
        flex-direction: column-reverse;
        overflow: auto;

        .hero {
            margin: 2rem;
            min-height: 50svh;
        }

        .auth-container {
            width: 100%;
            box-shadow: none;
            padding: 0rem 2rem;
            border: none;

            .brand-title {
                font-size: 4rem;
                margin: 2rem 0;
                line-height: normal;
            }

            .tabs-wrapper {
                .tabs-header {
                    .tabs-header-item {
                        min-width: 10rem;

                        h3 {
                            font-size: 0.9rem;
                        }
                    }
                }

                .tabs-content {
                    .tabs-content-item {
                        &.active-content {
                            h1 {
                                font-size: 1.5rem;
                                line-height: normal;
                            }

                            form {
                                .field-wrapper {
                                    flex-direction: column;
                                    row-gap: 0.25rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $media-query-sm) {
    .auth-page {
        .hero {
            margin: 1rem;
        }

        .auth-container {
            padding: 0rem 1rem;
        }
    }
}