@import 'variables';

.auth-page {
    position: relative;
    height: 100svh;
    display: flex;
    flex-direction: row;
    background-color: $clr-black;
    overflow: hidden;

    .hero {
        position: relative;
        flex: 1;
        bottom: 0;
        left: 0;
        overflow: hidden;
        transform: scale(1.175);
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        gap: 3rem;
        isolation: isolate;

        .hero-content {
            position: absolute;
            inset: 0;
            transform: scale(.8525);
            padding: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;


            h1 {
                color: $clr-white;
                text-align: center;
                line-height: 1.2;
                //font-family: $font-display;
                font-size: clamp(3rem, 4vw, 6rem);
            }
        }

        .image-column {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 3rem;
            z-index: -1;

            &.sliding-down {
                animation: sliding-down 20s linear infinite;
            }

            &.sliding-up {
                animation: sliding-up 20s linear infinite;
            }

            @for $i from 0 to 10 {
                &:nth-child(#{$i}) {
                    animation-delay: $i * 0.15s;
                }
            }

            .image {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.6);
            z-index: -1;
        }
    }

    .auth-container {
        position: relative;
        padding: 3rem;
        width: clamp(40rem, 50%, 55rem);
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        border-left: 1px solid $clr-grey-500;
        background-color: $clr-white;

        .brand-title {
            position: relative;
            font-size: clamp(5rem, 5vw, 7rem);
            margin-bottom: 1rem;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 3px;
            color: $clr-primary;
            text-shadow: .25rem .5rem $clr-primary-darker;
            font-family: $font-display;
            font-style: italic;
        }


        .tabs-wrapper {
            position: relative;

            .tabs-header {
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                .tabs-header-item {
                    position: relative;
                    flex-grow: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 1rem;
                    width: 50%;

                    &::after {
                        content: '';
                        height: 1px;
                        background-color: $clr-grey-400;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        transition: height 0.1s $animation-cubic;
                    }

                    &:hover {
                        h3 {
                            color: $clr-black;
                        }
                    }

                    h3 {
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        font-size: 1rem;
                        color: $clr-grey-400;
                        transition: color 0.2s $animation-cubic;
                        margin: 0 1rem;
                    }

                    &.active-tab {
                        &::after {
                            content: '';
                            width: 100%;
                            height: 4px;
                            background-color: $clr-black;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                        }

                        h3 {
                            color: $clr-grey-900;
                        }
                    }
                }
            }
        }

        .tabs-content {
            .tabs-content-item {
                display: none;

                .social-signup {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    position: relative;

                    h4 {
                        margin: 1rem 0;
                        font-size: 1.175rem;
                        font-weight: 400;
                        color: $clr-black;
                    }

                    button {
                        width: calc(100% - 2 * 1rem);
                    }
                }

                .bg-line {
                    width: 100%;
                    margin: 2rem 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;

                    h4 {
                        color: $clr-black;
                        //text-transform: uppercase;
                        text-align: center;
                        background-color: $clr-white;
                        padding: 0 1rem;
                        z-index: 100;
                        font-weight: 400;
                        font-size: 1.175rem;
                    }

                    &::after {
                        content: '';
                        width: 100%;
                        position: absolute;
                        height: 1px;
                        background-color: $clr-grey-700;
                    }
                }

                &.active-content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    color: $clr-black;

                    h1 {
                        margin: 2rem 0 1rem 0;
                    }

                    form {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        width: 100%;

                        .field-wrapper {
                            display: flex;
                            flex-direction: row;
                            column-gap: 0.5rem;

                            .input-wrapper {
                                width: 100%;
                            }
                        }

                        .forgot-pass {
                            font-size: .9rem;
                            font-weight: 400;
                            margin-bottom: 1rem;

                            a {
                                color: $clr-primary-light;
                                text-decoration: none;
                                font-style: italic;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $media-query-3xl) {
    .auth-page {
        .hero {
            gap: 2rem;
            grid-template-columns: repeat(7, 1fr);

            .image-column {
                row-gap: 2rem;
            }
        }
    }
}

@media only screen and (max-width: $media-query-2xl) {
    .auth-page {
        .hero {
            gap: 1.5rem;
            grid-template-columns: repeat(5, 1fr);

            .image-column {
                row-gap: 1.5rem;
            }
        }
    }
}

@media only screen and (max-width: $media-query-xl) {
    .auth-page {
        .hero {
            gap: 1.5rem;
            grid-template-columns: repeat(4, 1fr);

            .image-column {
                row-gap: 1.5rem;
            }
        }

        .auth-container {
            padding: 2rem;
        }
    }
}

@media only screen and (max-width: $media-query-lg) {
    .auth-page {
        min-height: 100svh;
        height: auto;
        flex-direction: column-reverse;
        overflow: auto;

        .hero {
            margin: 2rem;
            transform: scale(1);
            gap: .5rem;
            max-height: 40svh;
            grid-template-columns: repeat(5, 1fr);

            .hero-content {
                transform: scale(1);

                .hero-footer {
                    padding: 1rem;

                    .hero-links {
                        gap: 1rem;

                        h4,
                        a {
                            font-size: .8rem;
                            opacity: 1;
                        }
                    }
                }
            }

            .image-column {
                row-gap: .5rem;
            }
        }

        .auth-container {
            width: 100%;
            box-shadow: none;
            padding: 0rem 2rem;
            border: none;

            .brand-title {
                font-size: 4rem;
                margin: 2rem 0;
                line-height: normal;
            }

            .tabs-wrapper {
                .tabs-header {
                    .tabs-header-item {
                        min-width: 10rem;

                        h3 {
                            font-size: 0.9rem;
                        }
                    }
                }

                .tabs-content {
                    .tabs-content-item {
                        &.active-content {
                            h1 {
                                font-size: 1.5rem;
                                line-height: normal;
                            }

                            form {
                                .field-wrapper {
                                    flex-direction: column;
                                    row-gap: 0.25rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $media-query-sm) {
    .auth-page {
        .hero {
            margin: 1rem;
            grid-template-columns: repeat(3, 1fr);
        }

        .auth-container {
            padding: 0rem 1rem;
        }
    }
}

@keyframes sliding-down {
    0% {
        transform: translateY(-3%);
        opacity: 0;
    }

    10% {
        transform: translateY(-2.0999999999999996%);
        opacity: 1;
    }

    90% {
        transform: translateY(2.0999999999999996%);
        opacity: 1;
    }

    100% {
        transform: translateY(3%);
        opacity: 0;
    }
}

@keyframes sliding-up {
    0% {
        transform: translateY(3%);
        opacity: 0;
    }

    15% {
        transform: translateY(2.0999999999999996%);
        opacity: 1;
    }

    85% {
        transform: translateY(-2.0999999999999996%);
        opacity: 1;
    }

    100% {
        transform: translateY(-3%);
        opacity: 0;
    }
}