@import 'variables';

.dashboard {
    background-color: $clr-black;
    color: $clr-white;
    height: 100svh;
    width: 100vw;
    overflow: hidden;
    padding: $panel-gap ;
    display: flex;
    column-gap: .5rem;
}