@import 'variables';

.friends-section {
    margin: 1rem;
    padding: 1rem;
    max-width: $media-query-2xl;

    h2 {
        text-align: center;
        font-size: clamp(3rem, 5vw, 5rem);
        font-weight: 600;
        color: color(secondary, 200);
    }

    .friends-container {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
        grid-template-rows: 1fr;
        gap: 1.5rem;

        .friend-card {
            background-color: $clr-white;
            box-shadow: $panel-box-shadow;
            width: 100%;
            height: auto;
            transition: all .2s $animation-cubic;
            cursor: pointer;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            overflow: hidden;

            &:hover {
                border: 1px solid color(secondary, 200);

                .friend-card-name {
                    color: color(primary, 500)
                }
            }

            .friend-card-photo {
                position: relative;
                width: 100%;
                padding-top: 100%;
                /* 1:1 aspect ratio (height = width) */
                border-radius: 50%;
                background-color: color(secondary, 700);
                overflow: hidden;
                //box-shadow: 0 .5rem 1.5rem rgba($color: $clr-black, $alpha: .5);
                margin: 0 auto;
                margin-bottom: 1rem;

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center center;
                }
            }

            .friend-card-name {
                font-size: 1.25rem;
                font-weight: bold;
                color: color(secondary, 900);
                margin-bottom: .5rem;
                transition: all .2s $animation-cubic;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}