@import 'variables';

.common-header {
    position: relative;
    height: 30vh;
    min-height: 21.25rem;
    max-height: 25rem;
    width: 100%;

    &::after {
        content: '';
        position: absolute;
        height: calc(100% + 4rem);
        width: 100%;
        background-image: linear-gradient(to right bottom, $clr-primary-light, $clr-primary-darker);
        top: -4rem;
    }
}