@import 'variables';

.main-wrapper {
    background-color: color(secondary, 50);
    height: 100svh;
    width: 100vw;
    display: flex;

    .main-content {
        flex: 1;
        background-color: color(secondary, 50);

        .main-header {
            position: sticky;
            top: 0;
            background-color: $clr-white;
            height: 4rem;
            z-index: 100;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 2rem;
            border-bottom: 1px solid color(secondary, 100);

            .header-interactions {
                height: 100%;
                display: flex;
                gap: .5rem;

                .header-interaction-item {
                    height: 100%;
                    min-width: 2rem;
                    //background-color: rgb(0, 0, 0, 0.7);
                    border-radius: 50%;
                    cursor: pointer;
                    transition: all .2s ease-in-out;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &.active,
                    &:hover {
                        .header-interaction-img {
                            color: color(primary, 500);
                            opacity: 1;
                        }
                    }

                    &:not(:hover).inactive {
                        .header-interaction-img {
                            color: color(secondary, 700) !important;
                            opacity: 0.8 !important;
                        }
                    }

                    .header-interaction-img {
                        color: color(secondary, 700);
                        opacity: 0.8;
                        font-size: 1.3rem;
                        transition: opacity .2s $animation-cubic;
                    }
                }
            }
        }

        .main-body {
            height: calc(100vh - 4rem);
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            //padding: 1rem;
        }
    }
}

@media only screen and (max-width: $media-query-lg) {
    .main-content {
        margin: $mobile-header-height 0;

        .main-header {
            display: none !important;
        }

        .main-body {
            height: calc(100vh - 2 * $mobile-header-height) !important;
        }
    }
}