@import 'variables';

.main-wrapper {
    background-color: color(secondary, 50);
    height: 100svh;
    width: 100vw;
    display: flex;

    &.playing {
        height: calc(100svh - $player-height);
    }

    .main-content {
        flex: 1;
        background-color: color(secondary, 50);

        .main-header {
            position: sticky;
            top: 0;
            background-color: $clr-white;
            height: 4rem;
            z-index: 100;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 2rem;
            border-bottom: 1px solid color(secondary, 100);

            .header-interactions {
                height: 100%;
                display: flex;
                gap: .5rem;

                .header-interaction-item {
                    height: 100%;
                    min-width: 2rem;
                    //background-color: color(secondary, 50);
                    border-radius: 50%;
                    cursor: pointer;
                    transition: all .2s ease-in-out;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &.active,
                    &:hover {
                        .header-interaction-img {
                            color: color(primary, 500);
                            opacity: 1;
                        }
                    }

                    &:not(:hover).inactive {
                        .header-interaction-img {
                            color: color(secondary, 700) !important;
                            opacity: 0.8 !important;
                        }
                    }

                    .header-interaction-img {
                        color: color(secondary, 700);
                        opacity: 0.8;
                        font-size: 1.3rem;
                        transition: opacity .2s $animation-cubic;

                        &.logout {
                            color: color(red, 500);

                            &:hover {
                                color: color(red, 600);
                            }
                        }
                    }
                }
            }
        }

        .main-body {
            height: calc(100% - $mobile-header-height);
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            //padding: 1rem;

            &.queue-open {
                @media only screen and (max-width: calc(1100px + #{$queue-width})) {
                    .table-header {
                        grid-template-columns: 2rem 2fr 2fr 2rem 4rem 2rem !important;

                        .table-header-item {
                            &:nth-child(4) {
                                display: none !important;
                            }
                        }
                    }

                    .favourite {
                        grid-template-columns: 2rem 2fr 2fr 2rem 4rem 2rem !important;

                        .favourite-field {
                            &:nth-child(4) {
                                display: none !important;
                            }
                        }
                    }

                    .track {
                        grid-template-columns: 2rem 2fr 2fr 2rem 4rem 2rem !important;

                        .track-field {
                            &:nth-child(4) {
                                display: none !important;
                            }
                        }
                    }
                }

                @media only screen and (max-width: calc(900px + #{$queue-width})) {
                    .table-header {
                        grid-template-columns: 2rem 2fr 2rem 4rem 2rem !important;

                        .table-header-item {
                            &:nth-child(3) {
                                display: none !important;
                            }
                        }
                    }

                    .favourite {
                        grid-template-columns: 2rem 2fr 2rem 4rem 2rem !important;

                        .favourite-field {
                            &:nth-child(3) {
                                display: none !important;
                            }
                        }
                    }

                    .track {
                        grid-template-columns: 2rem 2fr 2rem 4rem 2rem !important;

                        .track-field {
                            &:nth-child(3) {
                                display: none !important;
                            }
                        }
                    }
                }
            }


            @media only screen and (max-width: 1100px) {
                .table-header {
                    grid-template-columns: 2rem 2fr 2fr 2rem 4rem 2rem !important;

                    .table-header-item {
                        &:nth-child(4) {
                            display: none !important;
                        }
                    }
                }

                .favourite {
                    grid-template-columns: 2rem 2fr 2fr 2rem 4rem 2rem !important;

                    .favourite-field {
                        &:nth-child(4) {
                            display: none !important;
                        }
                    }
                }

                .track {
                    grid-template-columns: 2rem 2fr 2fr 2rem 4rem 2rem !important;

                    .track-field {
                        &:nth-child(4) {
                            display: none !important;
                        }
                    }
                }
            }

            @media only screen and (max-width: 900px) {
                .table-header {
                    grid-template-columns: 2rem 2fr 2rem 4rem 2rem !important;

                    .table-header-item {
                        &:nth-child(3) {
                            display: none !important;
                        }
                    }
                }

                .favourite {
                    grid-template-columns: 2rem 2fr 2rem 4rem 2rem !important;

                    .favourite-field {
                        &:nth-child(3) {
                            display: none !important;
                        }
                    }
                }

                .track {
                    grid-template-columns: 2rem 2fr 2rem 4rem 2rem !important;

                    .track-field {
                        &:nth-child(3) {
                            display: none !important;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $media-query-lg) {
    .main-wrapper {
        &.playing {
            height: 100svh;

            .main-content {
                .main-body {
                    height: calc(100% - $player-height)
                }
            }
        }

        .main-content {
            margin: $mobile-header-height 0;

            .main-header {
                display: none !important;
            }

            .main-body {
                height: 100%;
            }
        }
    }
}