@import 'variables';

.nav-container {
    height: 100%;
    background-color: $clr-black;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    row-gap: $panel-gap;

    .resize-handle {
        position: absolute;
        top: 0;
        right: 0;
        width: .5rem;
        height: 100%;
        cursor: col-resize;
        background-color: $clr-black;
        z-index: 1;
        transform: translateX(100%);
    }

    .nav-header {
        background-color: $clr-grey-900;
        width: 100%;
        height: fit-content;
        border-radius: $border-radius;
        overflow: hidden;

        .nav-list {
            list-style-type: none;
            width: 100%;
            padding: .5rem .75rem;

            .nav-list-item {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: .25rem .75rem;
                min-width: 3rem;
                min-height: 3rem;

                .nav-link {
                    color: $clr-white;
                    text-decoration: none;
                    transition: all .2s ease-in-out;
                    width: 100%;
                    height: 2.5rem;
                    display: flex;
                    align-items: center;
                    gap: 1.5rem;
                    opacity: .4;

                    &.a-brand {
                        opacity: 1;
                        cursor: default;

                        .nav-text {
                            font-family: $font-display;
                            font-size: 1.5rem;
                            letter-spacing: 1px;
                            font-weight: 600;
                            background-image: linear-gradient(to right bottom, $clr-primary-light, $clr-primary-darker);
                            background-clip: text;
                            -webkit-background-clip: text;
                            color: transparent;
                        }

                        .nav-svg {
                            //filter: invert(37%) sepia(50%) saturate(1349%) hue-rotate(323deg) brightness(98%) contrast(106%);
                            filter: invert(27%) sepia(52%) saturate(3317%) hue-rotate(333deg) brightness(80%) contrast(92%);
                        }
                    }

                    &:hover,
                    &.active {
                        opacity: 1;
                    }

                    .nav-text {
                        font-family: $font-content;
                        font-weight: 600;
                        letter-spacing: 1px;
                        font-size: 1rem;
                        line-height: 1.6;
                    }

                    .nav-svg {
                        width: 1.5rem;
                        height: 1.5rem;
                        filter: invert(1);
                    }

                }
            }
        }
    }

    .nav-collection {
        width: 100%;
        flex-grow: 1;
        overflow-y: auto;
        border-radius: $border-radius;
        background-color: $clr-grey-900;
    }
}