@import 'variables';

.notifications-section {
    margin: 1rem;
    padding: 1rem;

    h2 {
        text-align: center;
        font-size: clamp(3rem, 5vw, 5rem);
        font-weight: 600;
        color: color(secondary, 200);
    }

    .notifications-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .notification-card {
            position: relative;
            background-color: $clr-white;
            box-shadow: $panel-box-shadow;
            width: 100%;
            height: auto;
            transition: all .2s $animation-cubic;
            cursor: pointer;
            padding: 1rem;
            display: flex;
            flex-direction: row;
            overflow: hidden;
            position: relative;
            gap: 1rem;
            color: color(secondary, 900);

            &:hover {
                border: 1px solid color(secondary, 200);
            }

            .notification-remove {
                position: absolute;
                top: .5rem;
                right: 1rem;
                border-radius: $border-radius-50;
                padding: .5rem;
                font-size: 1rem;
            }

            .notification-card-photo {
                position: relative;
                width: 5rem;
                height: 5rem;
                aspect-ratio: 1/1;
                border-radius: 50%;
                background-color: color(secondary, 700);
                overflow: hidden;
                border: 1px solid color(secondary, 700);

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center center;
                }
            }

            .notification-text {
                h3 {
                    font-size: 1.25rem;
                    font-weight: 600;
                    color: color(secondary, 900);
                }

                p {
                    font-size: 1rem;
                    font-weight: 400;
                    color: color(secondary, 800);

                    &:last-child {
                        margin-top: .25rem;
                        font-size: .875rem;
                        color: color(secondary, 600);
                    }
                }

            }
        }
    }
}