@import 'variables';

.playlists-section {
    margin: 1rem;
    padding: 1rem;
    max-width: $media-query-2xl;

    h2 {
        text-align: center;
        font-size: clamp(3rem, 5vw, 5rem);
        font-weight: 600;
        color: color(secondary, 200);
    }

    .playlists-container {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
        grid-template-rows: 1fr;
        gap: 1.5rem;

        .playlist-card {
            background-color: $clr-white;
            box-shadow: $panel-box-shadow;
            width: 100%;
            height: auto;
            transition: all .2s $animation-cubic;
            cursor: pointer;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            border: none;
            // border-radius: $border-radius-1;

            &.create {
                background-color: color(secondary, 50);
                border: 1px dashed color(secondary, 400);
                box-shadow: none;
                justify-content: center;
                align-items: center;

                .playlist-card-name {
                    text-align: center;
                    color: color(secondary, 400);
                    // remove white space nowrap
                    white-space: normal !important;
                }

                .playlist-card-photo {
                    background-color: color(secondary, 50);
                    border: 1px dashed color(secondary, 400);
                    box-shadow: none;
                    transition: all .2s $animation-cubic;

                    svg {
                        color: color(secondary, 400);
                        transition: all .2s $animation-cubic;
                    }
                }

                &:hover {
                    border: 1px dashed color(primary, 500);
                    box-shadow: none;

                    .playlist-card-name {
                        color: color(primary, 500);
                    }

                    .playlist-card-photo {
                        background-color: color(secondary, 50);
                        border: 1px dashed color(primary, 500);
                        box-shadow: none;

                        svg {
                            color: color(primary, 500);
                        }
                    }
                }
            }

            &:hover {
                border: 1px solid color(secondary, 200);

                .playlist-card-name {
                    color: color(primary, 500);
                }
            }

            .playlist-card-photo {
                position: relative;
                width: 100%;
                padding-top: 100%;
                border-radius: 1rem;
                background-color: color(secondary, 700);
                overflow: hidden;
                margin: 0 auto;
                margin-bottom: 1rem;

                svg,
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center center;
                }
            }

            .playlist-card-name {
                font-size: 1.25rem;
                font-weight: bold;
                color: color(secondary, 900);
                margin-bottom: .5rem;
                transition: all .2s $animation-cubic;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .playlist-card-length {
                font-size: 1rem;
                font-weight: 400;
                color: color(secondary, 600);
                transition: all .2s $animation-cubic;
            }
        }
    }
}

.playlist-section {
    margin: 1rem;
    padding: 1rem;
    max-width: $media-query-2xl;

    .no-data {
        text-align: center;
        font-size: clamp(3rem, 5vw, 5rem);
        font-weight: 600;
        color: color(secondary, 200);
        margin: 2rem 0;
    }

    .search-btn {
        margin: 0 auto;
        width: clamp(10rem, 20vw, 30rem);
    }

    .playlist-container {
        width: 100%;
        height: auto;
        background-color: $clr-white;
        box-shadow: $panel-box-shadow;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 1rem;

        .playlist-header {
            position: relative;
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: row;
            gap: 1rem;

            .playlist-header-photo {
                position: relative;
                width: 10rem;
                height: 10rem;
                aspect-ratio: 1/1;
                border-radius: 1rem;
                background-color: color(secondary, 700);
                overflow: hidden;

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center center;
                }
            }

            .playlist-header-info {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: .5rem;

                .playlist-header-title {
                    font-size: 2.5rem;
                    font-weight: 600;
                    color: color(secondary, 900);
                }

                .playlist-header-description {
                    font-size: 1.2rem;
                    font-weight: 400;
                    color: color(secondary, 600);
                }

                .playlist-header-length {
                    font-size: 1.2rem;
                    font-weight: 400;
                    color: color(secondary, 600);
                }
            }
        }

        .playlist-subnav {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            .playlist-subnav-list {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1rem;

                .playlist-subnav-item {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 4rem;
                    color: color(primary, 500);
                    transition: all .2s $animation-cubic;
                    cursor: pointer;


                    &.active,
                    &:hover {
                        color: color(primary, 500);
                        transform: scale(1.1);
                    }

                    &.blue {
                        color: color(secondary, 600);
                        transform: none;
                        transition: all .2s $animation-cubic;

                        &.active,
                        &:hover {
                            color: color(primary, 500);
                            transform: none;
                        }
                    }

                    &:last-child {
                        position: relative;
                        margin-left: auto;
                        color: color(secondary, 600);
                        font-size: 1.25rem;
                        transition: all .2s $animation-cubic;

                        &:hover {
                            color: color(secondary, 900);
                            transform: none;
                        }

                        .playlist-action-list {
                            font-size: 1rem;
                            position: absolute;
                            top: 100%;
                            width: clamp(10rem, 100%, 15rem);
                            right: 0;
                            padding: .25rem;
                            background-color: $clr-white;
                            box-shadow: $panel-box-shadow;
                            display: flex;
                            flex-direction: column;
                            list-style: none;
                            gap: .25rem;
                            border-radius: .25rem;
                            z-index: 99999;

                            .playlist-actions-item {
                                width: 100%;
                                cursor: pointer;
                                height: 2.5rem;
                                transition: background-color .2s $animation-cubic;

                                &:hover {
                                    background-color: rgba($color: $clr-black, $alpha: .1);

                                    .btn-playlist-action {
                                        color: color(primary, 500);
                                    }
                                }

                                .btn-playlist-action {
                                    all: unset;
                                    height: 2.5rem;
                                    width: calc(100% - 1.5rem);
                                    padding: 0 .75rem;
                                    background: transparent;
                                    color: color(secondary, 900);
                                    font-size: auto;
                                    border-radius: 1rem;
                                    display: flex;
                                    align-items: center;
                                    justify-content: flex-start;
                                    transition: color .2s $animation-cubic;
                                    gap: .5rem;
                                }
                            }
                        }
                    }
                }
            }
        }

        .playlist-list {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            background-color: $clr-white;

            .table-header {
                position: sticky;
                top: 0;
                z-index: 99;
                width: 100%;
                height: 4rem;
                display: grid;
                grid-template-columns: 2rem 2fr 2fr 1fr 2rem 4rem 2rem;
                align-items: center;
                padding: 0 1rem;
                gap: 0.5rem;
                background-color: $clr-white;
                border-bottom: 1px solid color(secondary, 100);
                margin-bottom: 0.5rem;

                .table-header-item {
                    height: 100%;
                    font-size: 1rem;
                    font-weight: 500;

                    span {
                        height: 100%;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }


                    &:nth-child(6) {
                        span {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            svg {
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }

            .track {
                width: 100%;
                display: grid;
                grid-template-columns: 2rem 2fr 2fr 1fr 2rem 4rem 2rem;
                align-items: center;
                gap: .5rem;
                padding: .5rem 1rem;
                border-radius: .5rem;
                background-color: $clr-white;
                transition: background-color .2s $animation-cubic;

                &:hover {
                    background-color: color(secondary, 50);

                    .track-field:first-child {
                        span {
                            display: none;
                        }

                        .ic {
                            display: block;
                        }
                    }
                }

                &.active {
                    background-color: color(secondary, 50);

                    .track-field:first-child {
                        span {
                            display: none;
                        }

                        .ic {
                            display: block;
                        }
                    }
                }

                &.current {

                    .track-field:first-child,
                    .track-field:nth-child(2) {
                        color: color(primary, 500);
                    }
                }

                &:hover,
                &.active {
                    .track-field:last-child {
                        visibility: visible;
                    }
                }

                .track-field {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    font-size: 1rem;
                    font-weight: 400;
                    color: color(secondary, 900);
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    a {
                        color: color(secondary, 600);
                        transition: color .2s $animation-cubic;

                        &:hover {
                            color: color(primary, 500);
                            text-decoration: underline;
                        }
                    }

                    &:first-child {
                        span {
                            display: block;
                        }

                        .ic {
                            display: none;
                        }
                    }

                    &:nth-child(2) {
                        display: flex;
                        gap: .75rem;

                        div {
                            flex: 1;
                            max-width: 80%;

                            h3,
                            a {
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                max-width: 90% !important;
                            }

                            a {
                                width: fit-content !important;
                                display: flex;
                                align-items: center;
                                gap: .25rem;

                                svg {
                                    font-size: 1rem;
                                    color: $clr-black
                                }
                            }
                        }
                    }

                    &:nth-child(3) {
                        a {
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            max-width: 90%
                        }
                    }

                    &:nth-child(4) {
                        color: color(secondary, 600);
                    }

                    &:nth-child(5) {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;

                        svg {
                            color: color(red, 500);
                            transition: color .2s $animation-cubic;
                        }

                        &:hover {
                            svg {
                                color: color(red, 700);
                            }
                        }

                    }

                    &:nth-child(6) {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: color(secondary, 600);
                    }

                    &:last-child {
                        overflow: visible;
                        position: relative;
                        visibility: hidden;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: color(secondary, 600);
                        cursor: pointer;
                        transition: color .2s $animation-cubic;

                        &:hover {
                            color: color(secondary, 900);
                        }

                        .track-actions-list {
                            position: absolute;
                            top: 100%;
                            right: 100%;
                            width: clamp(11rem, 100%, 16rem);
                            padding: .25rem;
                            background-color: $clr-white;
                            box-shadow: $panel-box-shadow;
                            display: flex;
                            flex-direction: column;
                            list-style: none;
                            gap: .25rem;
                            border-radius: .25rem;
                            z-index: 99999;

                            .track-actions-item {
                                width: 100%;
                                cursor: pointer;
                                height: 2.5rem;
                                transition: background-color .2s $animation-cubic;

                                &:hover {
                                    background-color: rgba($color: $clr-black, $alpha: .1);

                                    .btn-track-action {
                                        color: color(primary, 500);
                                    }
                                }

                                .btn-track-action {
                                    all: unset;
                                    height: 2.5rem;
                                    width: calc(100% - 1.5rem);
                                    padding: 0 .75rem;
                                    background: transparent;
                                    color: color(secondary, 900);
                                    font-size: auto;
                                    border-radius: 1rem;
                                    display: flex;
                                    align-items: center;
                                    justify-content: flex-start;
                                    transition: color .2s $animation-cubic;
                                    gap: .5rem;
                                }
                            }
                        }
                    }
                }

                img {
                    width: 3rem;
                    height: 3rem;
                    aspect-ratio: 1/1;
                    border-radius: .5rem;
                    object-fit: cover;
                    object-position: center center;
                }

            }
        }
    }
}

.modal_wrapper {
    .modal {
        .friends-container {
            width: 100%;
            height: auto;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
            grid-template-rows: 1fr;
            gap: 1.5rem;
            padding: 1rem 0;

            .friend-card {
                background-color: $clr-white;
                box-shadow: $panel-box-shadow;
                width: 100%;
                height: auto;
                transition: all .2s $animation-cubic;
                cursor: pointer;
                padding: 1rem;
                display: flex;
                flex-direction: column;
                overflow: hidden;

                &:hover {
                    border: 1px solid color(secondary, 200);

                    .friend-card-name {
                        color: color(primary, 500)
                    }
                }

                &.selected {
                    background-color: color(primary, 50);
                    border: 2px solid color(primary, 500);
                }

                .friend-card-photo {
                    position: relative;
                    width: 100%;
                    padding-top: 100%;
                    /* 1:1 aspect ratio (height = width) */
                    border-radius: 50%;
                    background-color: color(secondary, 700);
                    overflow: hidden;
                    //box-shadow: 0 .5rem 1.5rem rgba($color: $clr-black, $alpha: .5);
                    margin: 0 auto;
                    margin-bottom: 1rem;

                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center center;
                    }
                }

                .friend-card-name {
                    font-size: 1.25rem;
                    font-weight: bold;
                    color: color(secondary, 900);
                    margin-bottom: .5rem;
                    transition: all .2s $animation-cubic;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }

        .playlists-container {
            width: 100%;
            height: auto;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
            grid-template-rows: 1fr;
            gap: 1.5rem;
            padding: 1rem 0;

            .playlist-card {
                background-color: $clr-white;
                box-shadow: $panel-box-shadow;
                width: 100%;
                height: auto;
                transition: all .2s $animation-cubic;
                cursor: pointer;
                padding: 1rem;
                display: flex;
                flex-direction: column;
                overflow: hidden;

                &:hover {
                    border: 1px solid color(secondary, 200);

                    .playlist-card-name {
                        color: color(primary, 500)
                    }
                }

                &.selected {
                    background-color: color(primary, 50);
                    border: 2px solid color(primary, 500);
                }

                .playlist-card-photo {
                    position: relative;
                    width: 100%;
                    padding-top: 100%;
                    /* 1:1 aspect ratio (height = width) */
                    border-radius: 0.5rem;
                    background-color: color(secondary, 700);
                    overflow: hidden;
                    //box-shadow: 0 .5rem 1.5rem rgba($color: $clr-black, $alpha: .5);
                    margin: 0 auto;
                    margin-bottom: 1rem;

                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center center;
                    }
                }

                .playlist-card-name {
                    font-size: 1.25rem;
                    font-weight: bold;
                    color: color(secondary, 900);
                    margin-bottom: .5rem;
                    transition: all .2s $animation-cubic;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }

        .modal_content {
            h2 {
                text-align: center;
                font-size: 2.5rem;
                font-weight: 600;
                color: color(secondary, 300);
            }
        }
    }
}