@import 'variables';

.user-header {
    position: relative;
    top: 0;
    left: 0;
    background-color: $clr-white;
    box-shadow: $panel-box-shadow;
    width: 100%;

    .header-pre {
        position: relative;
        min-height: 10rem;
        aspect-ratio: 4/1;
        max-width: $media-query-2xl;
        margin: 0 auto;

        .user-background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 1;
            //background-image: linear-gradient(to bottom, rgba($color: $clr-primary-600, $alpha: 1), rgba(0, 0, 0, 0));
            background-image: linear-gradient(to right bottom, $clr-primary-900, $clr-primary-500);
            //background-size: 400% 400%;
            //animation: bg-animation 30s ease infinite;
            border-radius: 0 0 12px 12px;
        }
    }

    .user-profile-details {
        position: relative;
        bottom: 0;
        left: 0;
        z-index: 3;
        max-width: $media-query-2xl;
        margin: 0 auto;
        margin-top: -4rem;
        padding: 0 2rem;
        padding-bottom: .5rem !important;
        display: flex;
        align-items: flex-end;
        gap: 1rem;

        .user-profile-image {
            background-color: $clr-white;
            border-radius: 50%;
            position: relative;
            width: 10rem;
            height: 10rem;
            overflow: hidden;

            &:hover {
                .story {
                    transform: translateX(0);
                }
            }

            .story {
                position: absolute;
                bottom: 0;
                right: 0;
                height: 100%;
                width: 100%;
                background-color: rgba(0, 0, 0, 0.4);
                display: flex;
                flex-direction: column;
                justify-content: center;
                row-gap: .5rem;
                align-items: center;
                transform: translateX(100%);
                cursor: pointer;
                border-radius: 50%;
                border: 5px solid $clr-white;

                svg {
                    color: $clr-white;
                    font-size: 2.5rem;
                }

                span {
                    font-size: 1.2rem;
                    color: $clr-white;
                    //font-weight: bold;
                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
                border: 5px solid $clr-white;
            }

            .default-photo {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                color: $clr-primary-600;
            }
        }

        .user-profile-actions {
            flex: 1;
            display: flex;
            flex-direction: column;

            .user-profile-name {
                font-size: 3rem;
                font-weight: 600;
                //color: $clr-primary-600;
                color: $clr-grey-900
            }

            .user-profile-edit,
            .friend-action {
                all: unset;
                cursor: pointer;
                align-self: flex-end;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: .5rem;
                color: $clr-grey-800;
                opacity: .8;
                transition: all .2s $animation-cubic;

                &:hover {
                    opacity: 1;
                    color: $clr-primary-600;
                }
            }

            .friend-action {
                align-self: start;
            }
        }
    }

    .user-nav {
        background-color: $clr-white;
        position: relative;
        width: 100%;
        height: 3rem;
        padding: .5rem 2rem;
        display: flex;
        align-items: center;
        max-width: $media-query-2xl;
        margin: 0 auto;

        .user-nav-list {
            display: flex;
            gap: 1.5rem;

            .user-nav-list-item {

                .user-nav-link {
                    color: $clr-grey-800;
                    opacity: .8;
                    font-size: 1rem;
                    text-transform: uppercase;
                    transition: all .2s $animation-cubic;

                    &:hover,
                    &.active {
                        color: $clr-primary-600;
                        opacity: 1;
                    }

                    &:not(:hover).inactive {
                        color: $clr-grey-800 !important;
                        opacity: 0.8 !important;
                    }
                }
            }
        }
    }
}

.user-body {
    max-width: $media-query-2xl;
    margin: 0 auto;
}

@keyframes bg-animation {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@media only screen and (max-width: $media-query-lg) {
    .user-header {
        .header-pre {
            min-height: 15rem;
            aspect-ratio: 0;
        }

        .user-profile-details {
            padding: 0 1.5rem;
            margin-top: -3rem;
            flex-direction: column;
            gap: 0rem;

            .user-profile-image {
                margin: 0 auto;
            }

            .user-profile-actions {
                align-items: center;
                margin: 0 auto;


                .user-profile-name {
                    font-size: 2rem;
                }

                .user-profile-edit,
                .friend-action {
                    align-self: center;
                }
            }
        }
    }
}