@import 'variables';

.side-bar {
    position: relative;
    top: 0;
    left: 0;
    background-color: $clr-white;
    z-index: 100;
    transition: width .2s $animation-cubic;

    &.resizing {
        transition: none;
    }

    .resize-handle {
        position: absolute;
        top: 0;
        right: 1px;
        width: 2px;
        height: 100%;
        cursor: col-resize;
        background-color: $clr-grey-300;

        transform: translateX(100%);
    }

    .side-list {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 1rem 0 1rem 1rem;

        .logo {
            margin-bottom: 1rem;
            display: flex;
            justify-content: center;
            transform: translateX(-.5rem);


            .side-link {
                &:hover {
                    cursor: default;
                }

                h1 {
                    text-transform: uppercase;
                    font-size: 1.5rem;
                    font-family: $font-content;
                    color: $clr-primary-600;
                }
            }
        }



        .part-title {
            text-transform: uppercase;
            font-size: 1.3rem;
            margin: 1rem 0 .5rem 1.125rem;
        }

        .side-list-item {
            width: 100%;

            .side-link {
                position: relative;
                display: flex;
                align-items: center;
                height: 2.25rem;
                text-decoration: none;
                opacity: .7;
                transition: opacity .2s $animation-cubic;

                .side-svg {
                    font-size: 1.125rem;
                    margin: 0 1.25rem;
                    color: $clr-grey-700;
                }

                .side-text {
                    font-size: 1.125rem;
                    color: $clr-grey-700;
                }

                &:hover,
                &.active {
                    opacity: 1;
                    cursor: pointer;

                    .side-svg,
                    .side-text {
                        color: $clr-primary-600;
                    }
                }

                &.active::after {
                    content: '';
                    position: absolute;
                    width: 3px;
                    height: 100%;
                    background-color: $clr-primary-600;
                    right: 0px;
                    top: 0;
                    border-radius: 25px;
                }
            }
        }
    }
}