.album-section {
  margin: 1rem;
  padding: 1rem;
}
.album-section .album-container {
  width: 100%;
  height: auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  max-width: 1920px;
  margin: 0 auto;
}
.album-section .album-container .album-header {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.album-section .album-container .album-header .album-header-photo {
  position: relative;
  width: 10rem;
  height: 10rem;
  aspect-ratio: 1/1;
  border-radius: 1rem;
  background-color: #48505E;
  overflow: hidden;
}
.album-section .album-container .album-header .album-header-photo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.album-section .album-container .album-header .album-header-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}
.album-section .album-container .album-header .album-header-info .album-header-title {
  font-size: 2.5rem;
  font-weight: 600;
  color: #2A2F37;
}
.album-section .album-container .album-header .album-header-info .album-header-description {
  font-size: 1.2rem;
  font-weight: 400;
  color: #5C6678;
}
.album-section .album-container .album-header .album-header-info .album-header-description a {
  color: #5C6678;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}
.album-section .album-container .album-header .album-header-info .album-header-description a:hover {
  color: #0c6fe9;
  text-decoration: underline;
}
.album-section .album-container .album-header .album-header-info .album-header-length {
  font-size: 1.2rem;
  font-weight: 400;
  color: #5C6678;
}
.album-section .album-container .album-subnav {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.album-section .album-container .album-subnav .album-subnav-list {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.album-section .album-container .album-subnav .album-subnav-list .album-subnav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: #0c6fe9;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  cursor: pointer;
}
.album-section .album-container .album-subnav .album-subnav-list .album-subnav-item.active, .album-section .album-container .album-subnav .album-subnav-list .album-subnav-item:hover {
  color: #0c6fe9;
  transform: scale(1.1);
}
.album-section .album-container .album-subnav .album-subnav-list .album-subnav-item.blue {
  color: #5C6678;
  transform: none;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.album-section .album-container .album-subnav .album-subnav-list .album-subnav-item.blue.active, .album-section .album-container .album-subnav .album-subnav-list .album-subnav-item.blue:hover {
  color: #0c6fe9;
  transform: none;
}
.album-section .album-container .album-subnav .album-subnav-list .album-subnav-item:last-child {
  position: relative;
  margin-left: auto;
  color: #5C6678;
  font-size: 1.25rem;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.album-section .album-container .album-subnav .album-subnav-list .album-subnav-item:last-child:hover {
  color: #2A2F37;
  transform: none;
}
.album-section .album-container .album-subnav .album-subnav-list .album-subnav-item:last-child .album-action-list {
  font-size: 1rem;
  position: absolute;
  top: 100%;
  width: clamp(10rem, 100%, 15rem);
  right: 0;
  padding: 0.25rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 0.25rem;
  border-radius: 0.25rem;
  z-index: 99999;
}
.album-section .album-container .album-subnav .album-subnav-list .album-subnav-item:last-child .album-action-list .album-actions-item {
  width: 100%;
  cursor: pointer;
  height: 2.5rem;
  transition: background-color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.album-section .album-container .album-subnav .album-subnav-list .album-subnav-item:last-child .album-action-list .album-actions-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.album-section .album-container .album-subnav .album-subnav-list .album-subnav-item:last-child .album-action-list .album-actions-item:hover .btn-album-action {
  color: #0c6fe9;
}
.album-section .album-container .album-subnav .album-subnav-list .album-subnav-item:last-child .album-action-list .album-actions-item .btn-album-action {
  all: unset;
  height: 2.5rem;
  width: calc(100% - 1.5rem);
  padding: 0 0.75rem;
  background: transparent;
  color: #2A2F37;
  font-size: auto;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  gap: 0.5rem;
}

.modal_wrapper .modal .friends-container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  grid-template-rows: 1fr;
  gap: 1.5rem;
  padding: 1rem 0;
}
.modal_wrapper .modal .friends-container .friend-card {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: auto;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  cursor: pointer;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.modal_wrapper .modal .friends-container .friend-card:hover {
  border: 1px solid #B8BDC6;
}
.modal_wrapper .modal .friends-container .friend-card:hover .friend-card-name {
  color: #0c6fe9;
}
.modal_wrapper .modal .friends-container .friend-card.selected {
  background-color: #e7f1fd;
  border: 2px solid #0c6fe9;
}
.modal_wrapper .modal .friends-container .friend-card .friend-card-photo {
  position: relative;
  width: 100%;
  padding-top: 100%;
  /* 1:1 aspect ratio (height = width) */
  border-radius: 50%;
  background-color: #48505E;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.modal_wrapper .modal .friends-container .friend-card .friend-card-photo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.modal_wrapper .modal .friends-container .friend-card .friend-card-name {
  font-size: 1.25rem;
  font-weight: bold;
  color: #2A2F37;
  margin-bottom: 0.5rem;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.modal_wrapper .modal .modal_content h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  color: #989FAD;
}/*# sourceMappingURL=albums.css.map */