.artist-header {
  position: relative;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}
.artist-header .header-pre {
  position: relative;
  min-height: 10rem;
  aspect-ratio: 4/1;
  max-width: 1920px;
  margin: 0 auto;
}
.artist-header .header-pre .artist-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  background-image: linear-gradient(to right bottom, #052C5A, #3D8AE8);
  border-radius: 0 0 12px 12px;
}
.artist-header .artist-profile-details {
  position: relative;
  bottom: 0;
  left: 0;
  z-index: 3;
  max-width: 1920px;
  margin: 0 auto;
  margin-top: -4rem;
  padding: 0 2rem;
  padding-bottom: 0.5rem !important;
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}
.artist-header .artist-profile-details .artist-profile-image {
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  width: 10rem;
  height: 10rem;
  overflow: hidden;
}
.artist-header .artist-profile-details .artist-profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #fff;
}
.artist-header .artist-profile-details .artist-profile-image .default-photo {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #c4c4c4;
}
.artist-header .artist-profile-details .artist-profile-actions {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.artist-header .artist-profile-details .artist-profile-actions .artist-profile-name {
  font-size: 3rem;
  font-weight: 600;
  color: #121212;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.artist-header .artist-profile-details .artist-profile-actions .artist-info {
  align-self: flex-start;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  color: #3f3f3f;
}
.artist-header .artist-nav {
  background-color: #fff;
  position: relative;
  width: 100%;
  height: 3rem;
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  max-width: 1920px;
  margin: 0 auto;
}
.artist-header .artist-nav .artist-nav-list {
  display: flex;
  gap: 1.5rem;
}
.artist-header .artist-nav .artist-nav-list .artist-nav-list-item .artist-nav-link {
  color: #3f3f3f;
  opacity: 0.8;
  font-size: 1rem;
  text-transform: uppercase;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.artist-header .artist-nav .artist-nav-list .artist-nav-list-item .artist-nav-link:hover, .artist-header .artist-nav .artist-nav-list .artist-nav-list-item .artist-nav-link.active {
  color: #0C6DE2;
  opacity: 1;
}
.artist-header .artist-nav .artist-nav-list .artist-nav-list-item .artist-nav-link:not(:hover).inactive {
  color: #3f3f3f !important;
  opacity: 0.8 !important;
}

.artist-body {
  max-width: 1920px;
  flex: 1;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;
}
.artist-body .no-data {
  text-align: center;
  font-size: clamp(3rem, 5vw, 5rem);
  font-weight: 600;
  color: #a6a6a6;
}
.artist-body .body-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.artist-body .body-section h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  color: #000;
}
.artist-body .body-section .list {
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  grid-template-rows: 1fr;
  gap: 2rem;
  padding: 0 1rem;
}
.artist-body .body-section .list .card {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: auto;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  cursor: pointer;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.artist-body .body-section .list .card:hover {
  border: 1px solid #c4c4c4;
  box-shadow: 8px 8px #c4c4c4;
}
.artist-body .body-section .list .card:hover .card-name {
  color: #0C6DE2;
}
.artist-body .body-section .list .card .photo-alt {
  position: relative;
  width: 100%;
  height: 75%;
  color: #c4c4c4;
  margin: 0 auto;
}
.artist-body .body-section .list .card .photo-alt.artist {
  border-radius: 50%;
}
.artist-body .body-section .list .card .card-photo {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 1rem;
  object-fit: cover;
  object-position: center center;
}
.artist-body .body-section .list .card .card-photo.artist {
  border-radius: 50%;
}
.artist-body .body-section .list .card .card-photo.album {
  border-radius: 12px;
}
.artist-body .body-section .list .card .card-name {
  font-size: 1.25rem;
  font-weight: bold;
  color: #121212;
  margin-bottom: 0.5rem;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.artist-body .body-section .list .card .card-info {
  font-size: 1rem;
  font-weight: 400;
  color: #7e7e7e;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.artist-body .body-section .list .card .card-info.capitalize {
  text-transform: capitalize;
}

@media only screen and (max-width: 1200px) {
  .artist-header .header-pre {
    min-height: 15rem;
    aspect-ratio: 0;
  }
  .artist-header .artist-profile-details {
    padding: 0 1.5rem;
    margin-top: -3rem;
    flex-direction: column;
    gap: 0rem;
  }
  .artist-header .artist-profile-details .artist-profile-image {
    margin: 0 auto;
  }
  .artist-header .artist-profile-details .artist-profile-actions {
    align-items: center;
    margin: 0 auto;
  }
  .artist-header .artist-profile-details .artist-profile-actions .artist-profile-name {
    font-size: 2rem;
  }
  .artist-header .artist-profile-details .artist-profile-actions .artist-info {
    align-self: center;
  }
}/*# sourceMappingURL=artist.css.map */