.auth-page {
  position: relative;
  height: 100svh;
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  overflow: hidden;
}
.auth-page .hero {
  position: relative;
  flex: 1;
  bottom: 0;
  left: 0;
  overflow: hidden;
  isolation: isolate;
}
.auth-page .hero img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: -1;
}
.auth-page .hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.auth-page .auth-container {
  position: relative;
  padding: 3rem;
  width: clamp(35rem, 50%, 50rem);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  border-left: 1px solid #a6a6a6;
}
.auth-page .auth-container .brand-title {
  position: relative;
  font-size: clamp(5rem, 5vw, 7rem);
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #000000;
  font-family: "BiggerDisplay", sans-serif;
  font-style: italic;
}
.auth-page .auth-container .tabs-wrapper {
  position: relative;
}
.auth-page .auth-container .tabs-wrapper .tabs-header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.auth-page .auth-container .tabs-wrapper .tabs-header .tabs-header-item {
  position: relative;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 50%;
}
.auth-page .auth-container .tabs-wrapper .tabs-header .tabs-header-item::after {
  content: "";
  height: 1px;
  background-color: #c4c4c4;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: height 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.auth-page .auth-container .tabs-wrapper .tabs-header .tabs-header-item:hover h3 {
  color: #000000;
}
.auth-page .auth-container .tabs-wrapper .tabs-header .tabs-header-item h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  color: #c4c4c4;
  transition: color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  margin: 0 1rem;
}
.auth-page .auth-container .tabs-wrapper .tabs-header .tabs-header-item.active-tab::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #000000;
  position: absolute;
  bottom: 0;
  left: 0;
}
.auth-page .auth-container .tabs-wrapper .tabs-header .tabs-header-item.active-tab h3 {
  color: #121212;
}
.auth-page .auth-container .tabs-content .tabs-content-item {
  display: none;
}
.auth-page .auth-container .tabs-content .tabs-content-item .social-signup {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.auth-page .auth-container .tabs-content .tabs-content-item .social-signup h4 {
  margin: 1rem 0;
  font-size: 1.175rem;
  font-weight: 400;
  color: #000000;
}
.auth-page .auth-container .tabs-content .tabs-content-item .social-signup button {
  width: calc(100% - 2rem);
}
.auth-page .auth-container .tabs-content .tabs-content-item .bg-line {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.auth-page .auth-container .tabs-content .tabs-content-item .bg-line h4 {
  color: #000000;
  text-align: center;
  background-color: #ffffff;
  padding: 0 1rem;
  z-index: 100;
  font-weight: 400;
  font-size: 1.175rem;
}
.auth-page .auth-container .tabs-content .tabs-content-item .bg-line::after {
  content: "";
  width: 100%;
  position: absolute;
  height: 1px;
  background-color: #5e5e5e;
}
.auth-page .auth-container .tabs-content .tabs-content-item.active-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000000;
}
.auth-page .auth-container .tabs-content .tabs-content-item.active-content h1 {
  margin: 2rem 0 1rem 0;
}
.auth-page .auth-container .tabs-content .tabs-content-item.active-content form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.auth-page .auth-container .tabs-content .tabs-content-item.active-content form .field-wrapper {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.auth-page .auth-container .tabs-content .tabs-content-item.active-content form .field-wrapper .input-wrapper {
  width: 100%;
}
.auth-page .auth-container .tabs-content .tabs-content-item.active-content form .forgot-pass {
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.auth-page .auth-container .tabs-content .tabs-content-item.active-content form .forgot-pass a {
  color: #00B8D9;
  text-decoration: none;
  font-style: italic;
}
.auth-page .auth-container .tabs-content .tabs-content-item.active-content form .forgot-pass a:hover {
  text-decoration: underline;
}
.auth-page .auth-container .tabs-content .tabs-content-item.active-content .select-wrapper {
  width: 100%;
  margin: 0.7rem 0;
  position: relative;
}
.auth-page .auth-container .tabs-content .tabs-content-item.active-content .select-wrapper label {
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #a6a6a6;
  pointer-events: none;
  transition: 0.2s;
  padding: 0 0.2rem;
}
.auth-page .auth-container .tabs-content .tabs-content-item.active-content .select-wrapper .select-icon {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  width: 1rem;
  height: 1rem;
}
.auth-page .auth-container .tabs-content .tabs-content-item.active-content .select-wrapper .select-menu {
  width: 100%;
  padding: 0.75rem;
  --webkit-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
          appearance: none;
  cursor: pointer;
  font-size: 0.9rem;
  transition: border 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  outline: none;
}
.auth-page .auth-container .tabs-content .tabs-content-item.active-content .select-wrapper .select-menu.light {
  border: 2px solid #5e5e5e;
  color: #121212;
  background-color: #f8f8f8;
}
.auth-page .auth-container .tabs-content .tabs-content-item.active-content .select-wrapper .select-menu.light ~ label {
  background-color: #f8f8f8;
}
.auth-page .auth-container .tabs-content .tabs-content-item.active-content .select-wrapper .select-menu.light:not(:-moz-placeholder-shown) {
  border: 2px solid #121212;
}
.auth-page .auth-container .tabs-content .tabs-content-item.active-content .select-wrapper .select-menu.light:focus, .auth-page .auth-container .tabs-content .tabs-content-item.active-content .select-wrapper .select-menu.light:invalid, .auth-page .auth-container .tabs-content .tabs-content-item.active-content .select-wrapper .select-menu.light:not(:placeholder-shown) {
  border: 2px solid #121212;
}
.auth-page .auth-container .tabs-content .tabs-content-item.active-content .select-wrapper .select-menu.light:not(:-moz-placeholder-shown) ~ label {
  top: 0;
  color: #121212;
}
.auth-page .auth-container .tabs-content .tabs-content-item.active-content .select-wrapper .select-menu.light:focus ~ label, .auth-page .auth-container .tabs-content .tabs-content-item.active-content .select-wrapper .select-menu.light:invalid ~ label, .auth-page .auth-container .tabs-content .tabs-content-item.active-content .select-wrapper .select-menu.light:not(:placeholder-shown) ~ label {
  top: 0;
  color: #121212;
}
.auth-page .auth-container .tabs-content .tabs-content-item.active-content .select-wrapper .select-menu.dark {
  border: 2px solid #121212;
  color: #f8f8f8;
  background-color: #121212;
}
.auth-page .auth-container .tabs-content .tabs-content-item.active-content .select-wrapper .select-menu.dark ~ label {
  background-color: #121212;
}
.auth-page .auth-container .tabs-content .tabs-content-item.active-content .select-wrapper .select-menu.dark:not(:-moz-placeholder-shown) {
  border: 2px solid #f8f8f8;
}
.auth-page .auth-container .tabs-content .tabs-content-item.active-content .select-wrapper .select-menu.dark:focus, .auth-page .auth-container .tabs-content .tabs-content-item.active-content .select-wrapper .select-menu.dark:invalid, .auth-page .auth-container .tabs-content .tabs-content-item.active-content .select-wrapper .select-menu.dark:not(:placeholder-shown) {
  border: 2px solid #f8f8f8;
}
.auth-page .auth-container .tabs-content .tabs-content-item.active-content .select-wrapper .select-menu.dark:not(:-moz-placeholder-shown) ~ label {
  top: 0;
  color: #f8f8f8;
}
.auth-page .auth-container .tabs-content .tabs-content-item.active-content .select-wrapper .select-menu.dark:focus ~ label, .auth-page .auth-container .tabs-content .tabs-content-item.active-content .select-wrapper .select-menu.dark:invalid ~ label, .auth-page .auth-container .tabs-content .tabs-content-item.active-content .select-wrapper .select-menu.dark:not(:placeholder-shown) ~ label {
  top: 0;
  color: #f8f8f8;
}

@media only screen and (max-width: 1600px) {
  .auth-page .auth-container {
    padding: 2rem;
  }
}
@media only screen and (max-width: 1200px) {
  .auth-page {
    min-height: 100svh;
    height: auto;
    flex-direction: column-reverse;
    overflow: auto;
  }
  .auth-page .hero {
    margin: 2rem;
    min-height: 50svh;
  }
  .auth-page .auth-container {
    width: 100%;
    box-shadow: none;
    padding: 0rem 2rem;
    border: none;
  }
  .auth-page .auth-container .brand-title {
    font-size: 4rem;
    margin: 2rem 0;
    line-height: normal;
  }
  .auth-page .auth-container .tabs-wrapper .tabs-header .tabs-header-item {
    min-width: 10rem;
  }
  .auth-page .auth-container .tabs-wrapper .tabs-header .tabs-header-item h3 {
    font-size: 0.9rem;
  }
  .auth-page .auth-container .tabs-wrapper .tabs-content .tabs-content-item.active-content h1 {
    font-size: 1.5rem;
    line-height: normal;
  }
  .auth-page .auth-container .tabs-wrapper .tabs-content .tabs-content-item.active-content form .field-wrapper {
    flex-direction: column;
    row-gap: 0.25rem;
  }
}
@media only screen and (max-width: 576px) {
  .auth-page .hero {
    margin: 1rem;
  }
  .auth-page .auth-container {
    padding: 0rem 1rem;
  }
}/*# sourceMappingURL=authentication.css.map */