.auth-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(to right bottom, #ee4540, #510a32);
  background-size: 200% 200%;
  animation: bg-animation 30s ease infinite;
}
.auth-page .reset-form {
  position: relative;
  background-color: #121212;
  padding: 2rem;
  min-width: 25vw;
  box-shadow: 10px 10px #000000;
  display: flex;
  flex-direction: column;
}
.auth-page .reset-form h1 {
  color: #ffffff;
  text-align: center;
  margin: 1rem 0;
}
.auth-page .reset-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.auth-page .reset-form form .field-wrapper {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.auth-page .reset-form form .field-wrapper .input-wrapper {
  width: 100%;
}
.auth-page .reset-form a {
  margin-top: 0.5rem;
  text-align: center;
}
.auth-page .auth-container {
  position: relative;
  background-color: #121212;
  padding: 2rem;
  min-width: 25vw;
  box-shadow: 10px 10px #000000;
  display: flex;
  flex-direction: column;
}
.auth-page .auth-container .tabs-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.auth-page .auth-container .tabs-wrapper .tabs-header {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.auth-page .auth-container .tabs-wrapper .tabs-header .tabs-header-item {
  position: relative;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 50%;
}
.auth-page .auth-container .tabs-wrapper .tabs-header .tabs-header-item::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #5e5e5e;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: height 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.auth-page .auth-container .tabs-wrapper .tabs-header .tabs-header-item:hover h3 {
  color: #ffffff;
}
.auth-page .auth-container .tabs-wrapper .tabs-header .tabs-header-item h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  color: #5e5e5e;
  transition: color 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  margin: 0 1rem;
}
.auth-page .auth-container .tabs-wrapper .tabs-header .tabs-header-item.active-tab::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #ebebeb;
  position: absolute;
  bottom: 0;
  left: 0;
}
.auth-page .auth-container .tabs-wrapper .tabs-header .tabs-header-item.active-tab h3 {
  color: #ffffff;
}
.auth-page .auth-container .tabs-wrapper .tabs-content .tabs-content-item {
  display: none;
}
.auth-page .auth-container .tabs-wrapper .tabs-content .tabs-content-item.active-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.auth-page .auth-container .tabs-wrapper .tabs-content .tabs-content-item.active-content h1 {
  margin: 1rem 0;
}
.auth-page .auth-container .tabs-wrapper .tabs-content .tabs-content-item.active-content form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.auth-page .auth-container .tabs-wrapper .tabs-content .tabs-content-item.active-content form .field-wrapper {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.auth-page .auth-container .tabs-wrapper .tabs-content .tabs-content-item.active-content form .field-wrapper .input-wrapper {
  width: 100%;
}
.auth-page .auth-container .tabs-wrapper .tabs-content .tabs-content-item.active-content a {
  margin-top: 0.5rem;
}

@keyframes bg-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@media only screen and (max-width: 768px) {
  .tabs-header {
    margin-bottom: 0.5rem;
  }
  .tabs-content .tabs-content-item.active-content h1 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 500px) {
  .auth-page .auth-container {
    min-width: none;
    padding: 1rem;
  }
}/*# sourceMappingURL=authentication.css.map */