.nav-bar {
  position: relative;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 999;
  transition: width 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.nav-bar.resizing {
  transition: none;
}
.nav-bar .nav-list .nav-list-item:nth-child(1) .nav-link .nav-text {
  transition-delay: 0.04s;
}
.nav-bar .nav-list .nav-list-item:nth-child(2) .nav-link .nav-text {
  transition-delay: 0.08s;
}
.nav-bar .nav-list .nav-list-item:nth-child(3) .nav-link .nav-text {
  transition-delay: 0.12s;
}
.nav-bar .nav-list .nav-list-item:nth-child(4) .nav-link .nav-text {
  transition-delay: 0.16s;
}
.nav-bar .nav-list .nav-list-item:nth-child(5) .nav-link .nav-text {
  transition-delay: 0.2s;
}
.nav-bar .nav-list .nav-list-item:nth-child(6) .nav-link .nav-text {
  transition-delay: 0.24s;
}
.nav-bar .nav-list .nav-list-item:nth-child(7) .nav-link .nav-text {
  transition-delay: 0.28s;
}
.nav-bar .nav-list .nav-list-item:nth-child(8) .nav-link .nav-text {
  transition-delay: 0.32s;
}
.nav-bar .nav-list .nav-list-item:nth-child(9) .nav-link .nav-text {
  transition-delay: 0.36s;
}
.nav-bar .nav-list .nav-list-item:nth-child(10) .nav-link .nav-text {
  transition-delay: 0.4s;
}
.nav-bar .nav-list .nav-list-item:nth-child(11) .nav-link .nav-text {
  transition-delay: 0.44s;
}
.nav-bar .nav-list .nav-list-item:nth-child(12) .nav-link .nav-text {
  transition-delay: 0.48s;
}
.nav-bar .nav-list .nav-list-item:nth-child(13) .nav-link .nav-text {
  transition-delay: 0.52s;
}
.nav-bar .nav-list .nav-list-item:nth-child(14) .nav-link .nav-text {
  transition-delay: 0.56s;
}
.nav-bar .nav-list .nav-list-item:nth-child(15) .nav-link .nav-text {
  transition-delay: 0.6s;
}
.nav-bar .nav-list .nav-list-item:nth-child(16) .nav-link .nav-text {
  transition-delay: 0.64s;
}
.nav-bar .nav-list .nav-list-item:nth-child(17) .nav-link .nav-text {
  transition-delay: 0.68s;
}
.nav-bar .nav-list .nav-list-item:nth-child(18) .nav-link .nav-text {
  transition-delay: 0.72s;
}
.nav-bar .nav-list .nav-list-item:nth-child(19) .nav-link .nav-text {
  transition-delay: 0.76s;
}
.nav-bar .resize-handle {
  position: absolute;
  top: 0;
  right: 1px;
  width: 2px;
  height: 100%;
  cursor: col-resize;
  background-color: #d9d9d9;
  transform: translateX(100%);
}
.nav-bar.opened .nav-list .nav-list-item .part-title {
  opacity: 1;
  transform: translateX(0);
}
.nav-bar.opened .nav-list .nav-list-item .nav-link .nav-text {
  opacity: 1;
  transform: translateX(0);
}
.nav-bar.opened .nav-list .nav-list-item.last-in-group {
  margin-bottom: 0.75rem;
}
.nav-bar .open-close-navbar {
  width: 2rem;
  height: 2rem;
  background-color: #ffffff;
  border: 2px solid #d9d9d9;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  transform: translate(50%, 150%);
}
.nav-bar .open-close-navbar:hover {
  cursor: pointer;
}
.nav-bar .nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  padding: 1rem 0;
}
.nav-bar .nav-list .logo {
  width: 3rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}
.nav-bar .nav-list .logo .nav-link:hover {
  cursor: default;
}
.nav-bar .nav-list .logo .nav-link h4 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: "Oswald", sans-serif;
  color: #0C6DE2;
}
.nav-bar .nav-list .nav-list-item {
  width: 100%;
}
.nav-bar .nav-list .nav-list-item .part-title {
  position: relative;
  text-transform: uppercase;
  font-size: 1.3rem;
  margin-left: 1.25rem;
  opacity: 0;
  transform: translateX(-100%);
  color: #121212;
  transition: opacity 0.2s, transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.nav-bar .nav-list .nav-list-item .nav-link {
  position: relative;
  display: flex;
  align-items: center;
  height: 2.25rem;
  text-decoration: none;
  opacity: 0.8;
  transition: opacity 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.nav-bar .nav-list .nav-list-item .nav-link .nav-svg {
  min-width: 2.5rem;
  font-size: 1.3rem;
  margin: 0 1.25rem;
  color: #3f3f3f;
  background-color: #ffffff;
}
.nav-bar .nav-list .nav-list-item .nav-link .nav-text {
  font-size: 1.3rem;
  color: #3f3f3f;
  transform: translateX(-100%);
  opacity: 0;
  transition: opacity 0.2s, transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.nav-bar .nav-list .nav-list-item .nav-link:hover, .nav-bar .nav-list .nav-list-item .nav-link.active {
  opacity: 1;
  cursor: pointer;
}
.nav-bar .nav-list .nav-list-item .nav-link:hover .nav-svg,
.nav-bar .nav-list .nav-list-item .nav-link:hover .nav-text, .nav-bar .nav-list .nav-list-item .nav-link.active .nav-svg,
.nav-bar .nav-list .nav-list-item .nav-link.active .nav-text {
  color: #0C6DE2;
}
.nav-bar .nav-list .nav-list-item .nav-link.active::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: #0C6DE2;
  right: 0px;
  top: 0;
  border-radius: 25px;
}/*# sourceMappingURL=desktop_navbar.module.css.map */