.queue_wrapper {
  position: relative;
  width: 25rem;
  height: 100%;
  background-color: #fff;
  border-left: 2px solid #CFD3D9;
  z-index: 100;
  padding: 1rem 0;
  overflow: hidden;
  z-index: 999;
}
.queue_wrapper .queue_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  height: 31px;
  padding: 0 2rem;
}
.queue_wrapper .queue_header h2 {
  font-size: 1.25rem;
  font-weight: 500;
  color: #242424;
}
.queue_wrapper .queue_header span {
  width: 2rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  cursor: pointer;
}
.queue_wrapper .queue_header span svg {
  font-size: 1.25rem;
  color: #5C6678;
  transition: color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.queue_wrapper .queue_header span:hover svg {
  color: #000;
}
.queue_wrapper .queue_body {
  height: calc(100% - 4rem);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 2rem;
}
.queue_wrapper .queue_body h2 {
  font-size: 1.25rem;
  font-weight: 500;
  color: #242424;
  margin-bottom: 0.5rem;
}
.queue_wrapper .queue_body .queue_list {
  margin-top: 2rem;
  padding-bottom: 1rem;
}
.queue_wrapper .queue_body .queue_item {
  position: relative;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  transition: background-color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.queue_wrapper .queue_body .queue_item.active {
  background-color: #F0F1F3;
}
.queue_wrapper .queue_body .queue_item.active .queue_item-actions {
  visibility: visible;
}
.queue_wrapper .queue_body .queue_item:hover {
  background-color: #F0F1F3;
}
.queue_wrapper .queue_body .queue_item:hover .queue_item-actions {
  visibility: visible;
}
.queue_wrapper .queue_body .queue_item:hover .queue_item-actions svg {
  font-size: 1rem;
  color: #5C6678;
  transition: color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.queue_wrapper .queue_body .queue_item:hover .queue_item-actions:hover svg {
  color: #000;
}
.queue_wrapper .queue_body .queue_item .queue_item-actions {
  position: relative;
  width: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}
.queue_wrapper .queue_body .queue_item .queue_item-actions .track-actions-list {
  position: absolute;
  top: 100%;
  right: 100%;
  width: clamp(11rem, 100%, 16rem);
  padding: 0.25rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 0.25rem;
  border-radius: 0.25rem;
  z-index: 99999;
}
.queue_wrapper .queue_body .queue_item .queue_item-actions .track-actions-list .track-actions-item {
  width: 100%;
  cursor: pointer;
  height: 2.5rem;
  transition: background-color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.queue_wrapper .queue_body .queue_item .queue_item-actions .track-actions-list .track-actions-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.queue_wrapper .queue_body .queue_item .queue_item-actions .track-actions-list .track-actions-item:hover .btn-track-action {
  color: #0c6fe9;
}
.queue_wrapper .queue_body .queue_item .queue_item-actions .track-actions-list .track-actions-item .btn-track-action {
  all: unset;
  height: 2.5rem;
  width: calc(100% - 1.5rem);
  padding: 0 0.75rem;
  background: transparent;
  color: #2A2F37;
  font-size: auto;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  gap: 0.5rem;
}
.queue_wrapper .queue_body .queue_item .queue_item-info {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  flex: 1;
  max-width: 80%;
}
.queue_wrapper .queue_body .queue_item .queue_item-info img {
  width: auto;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 0.5rem;
}
.queue_wrapper .queue_body .queue_item .queue_item-info .item-text-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 100%;
}
.queue_wrapper .queue_body .queue_item .queue_item-info .item-text-wrapper a {
  color: #242424;
  transition: color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90% !important;
}
.queue_wrapper .queue_body .queue_item .queue_item-info .item-text-wrapper a:first-child {
  font-size: 1rem;
  font-weight: 600;
}
.queue_wrapper .queue_body .queue_item .queue_item-info .item-text-wrapper a:last-child {
  font-size: 0.9rem;
  font-weight: 500;
  color: #5C6678;
}
.queue_wrapper .queue_body .queue_item .queue_item-info .item-text-wrapper a:last-child svg {
  color: #000;
  margin-right: 0.25rem;
}
.queue_wrapper .queue_body .queue_item .queue_item-info .item-text-wrapper a:hover {
  color: #0c6fe9;
  text-decoration: underline;
}

@media only screen and (max-width: 1200px) {
  .queue_wrapper {
    top: 4rem;
    height: calc(100% - 8rem - 6rem);
  }
}/*# sourceMappingURL=queue.css.map */